# Logs
logs
*.log
npm-debug.log*

node_modules
dist
dist-ssr
dist-staging
dist-previous
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.tsbuildinfo
